<%= render "shared/header" %> 
<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル名:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>説明:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>開始時刻:</strong>
  <%= @list.start_date %>
</p>

<p>
  <strong>終了時刻:</strong>
  <%= @list.end_date %>
</p>

<%= link_to 'Edit', edit_list_event_path(@list) %> 
<%= link_to 'Back', list_events_path(@list) %>
