<%= render "shared/second-header"%>
  <span class="js-toggle_star">スターボタン</span>
  <div class="sinupPage">
    <div class="titleArea">
      <h1>アカウントを新規作成</h1>or
        <br />
      <%= link_to "ログイン", new_user_session_path %>
      <div class="m-3">
      </div>
    </div>
    <div class='container'>
      <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-5, signupForm" }, local: true do |f| %>

        <%= devise_error_messages! %>
        
        <div class="form-group">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, class: "form-control", placeholder: "ニックネームを入力してください" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", placeholder: "emailを入力してください" ,autocomplete: "email" %>
        </div>
        <%if @sns_id.present? %>
          <%= hidden_field_tag :sns_auth, true %>
        <% else %>
          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上入力してください)</em>
            <% end %><br />
            <%= f.password_field :password, class: "form-control", placeholder:"パスワードを入力してください", autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class:"form-control", placeholder: "パスワードを再度入力してください", autocomplete: "off" %>
          </div>
        <% end %>
        <div class="text-center">
          <%= f.submit "アカウントを作成", class: "btn submitBtn" %>
        </div>
        <br />
        <div class = "container btn btn-block btn-social bg-info  btn-facebook w-50 ">
          <span class = "fab fa-twitter "></span>
          <%= link_to 'twitterで登録', user_twitter_omniauth_authorize_path, method: :post,  class: "text-light" %>
        </div>
        <div class = "container btn btn-block btn-social bg-primary  btn-facebook w-50 ">
          <span class = "fab fa-facebook-f "></span>
          <%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post,  class: "text-light" %>
        </div>
        <div class = "container btn btn-block btn-social bg-success btn-google w-50 ">
          <span class = "fab fa-google"></span>
          <%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post, class: "text-light" %>
        </div>
      <% end %>
      
    </div>
  </div>