<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <ul class="header_menu_left">
        <% if user_signed_in? && @list.present? %>
          <li class="nav-link "><%= link_to current_user.nickname, user_path(current_user.id) %>さん</li>
          <li class="nav-link"><%= link_to "カレンダー", calender_list_path(@list.id),class: "far fa-calendar-alt" %></li>
        <% elsif user_signed_in? %>
          <li class="nav-link"><%= link_to current_user.nickname, user_path(current_user.id) %>さん</li>
        <% else %>
          <li class="nav-link"><%= link_to 'ゲスト', "#" %>さん</li>
        <% end %>
      </ul>
        <li class="header_menu_title"><%= link_to "Trello", root_path, class: "fas fa-home fa-fw " %></li>
      <ul class="header_menu_inner">
        <li><%= link_to "リストを作成", new_list_path , class: "nav-link listNew" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
          <% end %>
      </ul>
    </ul>
  </nav>
</header>