    <header class="header">
      <nav class="nav">
        <ul class="header_menu">
          <li class="nav-link"><%= link_to current_user.nickname, "#" %>さん</li>
          <li class="header_menu_title"><%= link_to "Trello", root_path, class: "nav-link" %></li>
          <li>
            <ul class="header_menu_inner">
                <li><%= link_to "リストを作成", "#", class: "nav-link listNew" %></li>
              <% if user_signed_in? %>
                <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
              <% else %>
                <li><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
              <% end %>
          </li>
        </ul>
      </nav>
    </header>