<%= render "shared/header" %>
<h1>リストを作成</h1>
<%= form_with model: @list, url: list_events_path, method: :post, local: true  do |f| %>

  <div class="field">
    <%= f.label :タイトル%>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :説明 %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :開始時刻 %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :終了時刻 %>
    <%= f.datetime_select :end_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to '戻る', list_events_path %>
