<p id="notice"><%= notice %></p>
<%= render "shared/header"%>
<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>あああ:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @list.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @list.end_date %>
</p>

<%= link_to 'Edit', edit_list_event_path(@list) %> 
<%= link_to 'delete', list_events_path(@list) %>
<%= link_to 'Back', list_events_path(@list) %>

