<%= render "shared/header"%>
<div class="cardnewPgae">
  <div class='container'>
    <%= form_with model: @card, url: { action: :create }, html: { class: 'cardnewForm' }, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <%= f.label :list_id, value: @list.titlr %>
      <% if @card.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %>
      <div class="cardnewForm_title">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "カード名" %>
      </div>
      <div class="cardnewForm_memo">
        <%= f.label :memo %>
        <%= f.text_area :memo, autofocus: true, class: "form-control", placeholder: "詳細" %>
      </div>
        <%= f.label :開始時刻 %>
        <%= f.datetime_select :start_date, autofocus: true, class: "form-control", placeholder: "開始時刻" %>
        <br>
        <%= f.label :終了時刻 %>
        <%= f.datetime_select :end_date, autofocus: true, class: "form-control", placeholder: "終了時刻" %>
      <div class="text-center"><%= f.submit "作成する", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>