<%= render "shared/header" %>
<div class='carddetailPage'>
  <div class="container">
    <div class="cardContents">
      <div class="cardContents_title">
        <div>タイトル</div>
        <h2><%= @card.title %></h2>
      </div>
      <div class="cardContents_memo">
        <div>メモ</div>
        <div><%= @card.memo %></div>
      </div>
      <div class="cardContents_listStatus">
        <div>リスト名</div>
        <div><%= @card.list.title %></div>
      </div>
        <%= render "shared/show" %>
        <div class="text-center">
          <%= link_to '編集する', edit_list_card_path(@card.list, @card) , class: "btn btn-success mt-4 w-50 text-white" %>
          <%= link_to '削除する',  list_card_path(@card.list, @card), method: :delete, class: "btn btn-danger mt-4 w-50 text-white", data: { confirm: "このカードを削除して大丈夫ですか?" } %>
        </div>
    </div>
  </div>
</div>
